{{ define "main" }}
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}<div class="page-intro">{{ . }}</div>{{ end }}
  </header>
  <ul class="list">
    {{ range .Pages.ByTitle }}
      {{ $title := .Title }}
      {{ if not $title }}
        {{ with .File }}{{ $title = .Path }}{{ end }}
      {{ end }}
      <li class="list-item">
        <a class="list-link" href="{{ .RelPermalink }}">{{ $title }}</a>
        {{ with .File }}<span class="meta">{{ .Path }}</span>{{ end }}
        {{ $summary := .Summary | plainify | truncate 160 }}
        {{ if $summary }}<div class="excerpt">{{ $summary }}</div>{{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
